In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from datetime import datetime
from numpy import nan
import string

In [3]:
houses = pd.read_csv('Predicting-House-Prices-In-Bengaluru-Train-Data.csv')

In [4]:
houses.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
houses.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [6]:
pd.unique(houses['area_type'])

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [7]:
houses['location'].nunique()

1305

In [8]:
area_type_dummies = pd.get_dummies(houses['area_type'],drop_first=True)

In [9]:
houses = houses.join(area_type_dummies)

In [10]:
houses

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,0,1
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,0,1,0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,0,0,0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,0,1
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,0,0,1
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,0,0,1
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00,0,0,1
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00,0,0,1
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25,0,0,1
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00,0,1,0
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00,0,0,1
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00,0,1,0
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00,0,0,1
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2.0,2.0,40.00,0,0,0
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00,0,1,0
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50,0,0,1
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00,0,0,1
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00,0,0,1
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00,0,0,1
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2.0,2.0,48.00,0,0,1
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1.0,1.0,15.00,0,0,0
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00,0,0,1
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5.0,2.0,380.00,0,1,0
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3.0,1.0,103.00,0,0,1
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1.0,0.0,25.25,0,0,1
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3.0,2.0,56.00,0,0,1
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1.0,1.0,23.10,0,0,1
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3.0,2.0,81.00,0,0,0
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2.0,2.0,48.77,0,0,1
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
13290,Super built-up Area,Ready To Move,Sarjapur Road,4 BHK,Maana E,4050,2.0,1.0,450.00,0,0,1
13291,Plot Area,18-Jan,Weavers Colony,1 Bedroom,NaN,812,1.0,0.0,26.00,0,1,0
13292,Super built-up Area,18-Jul,Udayapur Village,3 BHK,Plowsri,1440,2.0,2.0,63.93,0,0,1
13293,Super built-up Area,Ready To Move,Sarjapur Road,4 BHK,Puallhi,2425,5.0,1.0,195.00,0,0,1
13294,Super built-up Area,Ready To Move,Sultan Palaya,4 BHK,RSntsAp,2200,3.0,3.0,80.00,0,0,1
13295,Super built-up Area,18-Feb,Haralur Road,3 BHK,SNnia E,1810,3.0,2.0,112.00,0,0,1
13296,Super built-up Area,Ready To Move,Cox Town,2 BHK,NaN,1200,2.0,2.0,140.00,0,0,1
13297,Super built-up Area,Ready To Move,Electronic City,2 BHK,GMown E,1060,2.0,1.0,52.00,0,0,1
13298,Super built-up Area,Ready To Move,Kenchenahalli,2 BHK,AriosPa,1015,2.0,2.0,60.00,0,0,1
13299,Super built-up Area,18-Dec,Whitefield,4 BHK,Prtates,2830 - 2882,5.0,0.0,154.50,0,0,1
13300,Plot Area,Ready To Move,Hosakerehalli,5 Bedroom,NaN,1500,6.0,2.0,145.00,0,1,0
13301,Super built-up Area,Ready To Move,Kothanur,3 BHK,NaN,1454,3.0,3.0,71.50,0,0,1
13302,Super built-up Area,Ready To Move,Annaiah Reddy Layout,2 BHK,NaN,1075,2.0,2.0,48.00,0,0,1
13303,Plot Area,Ready To Move,Vidyaranyapura,5 Bedroom,NaN,774,5.0,3.0,70.00,0,1,0
13304,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,GrrvaGr,1187,2.0,2.0,40.14,0,0,1
13305,Carpet Area,Ready To Move,Hulimavu,1 BHK,NaN,500,1.0,3.0,220.00,1,0,0
13306,Plot Area,Ready To Move,Rajarajeshwari Nagara,4 Bedroom,NaN,1200,5.0,NaN,325.00,0,1,0
13307,Built-up Area,Ready To Move,Billekahalli,3 BHK,NaN,1805,3.0,3.0,134.00,0,0,0
13308,Built-up Area,Ready To Move,Bannerghatta Road,3 BHK,Baanise,1527,3.0,1.0,142.00,0,0,0
13309,Super built-up Area,Ready To Move,Yeshwanthpur,3 BHK,IBityin,1675,3.0,NaN,92.13,0,0,1
13310,Super built-up Area,Ready To Move,Rachenahalli,2 BHK,NaN,1050,2.0,2.0,52.71,0,0,1
13311,Plot Area,Ready To Move,Ramamurthy Nagar,7 Bedroom,NaN,1500,9.0,2.0,250.00,0,1,0
13312,Super built-up Area,Ready To Move,Bellandur,2 BHK,NaN,1262,2.0,2.0,47.00,0,0,1
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345,2.0,1.0,57.00,0,0,1
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00,0,0,1
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00,0,0,0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00,0,0,1
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00,0,0,0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00,0,0,1
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00,0,0,1

In [11]:
houses.drop(columns='area_type',inplace=True)

In [12]:
houses.head()

,availability,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area
0,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,0,1
1,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,0,1,0
2,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,0,0,0
3,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,0,1
4,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,0,0,1

In [13]:
#Reading the date from availability
availability_date = []
for item in houses['availability']:
    if(item[0].isdigit()):
        item = str(datetime.today().date().year) + '-' + item
        availability_date.append((datetime.strptime(item , '%Y-%d-%b')).date())
    else:
        availability_date.append(0)

In [14]:
#Getting number of days from today till availability
days_till_available = []
for item in availability_date:
    if(item != 0):
        n_days = item - datetime.today().date()
        if(n_days.days > 0):
            days_till_available.append(n_days.days)
        else:
            days_till_available.append(n_days.days + 365)
    else:
        days_till_available.append(0)

In [15]:
days_till_available[13318]

333

In [16]:
houses['days_till_available'] = pd.Series(days_till_available , index=houses.index)

In [17]:
houses.head()

,availability,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available
0,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,0,1,152
1,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,0,1,0,0
2,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,0,0,0,0
3,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,0,1,0
4,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,0,0,1,0

In [18]:
houses.drop(columns='availability',inplace=True)

In [19]:
houses.head()

,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available
0,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,0,1,152
1,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,0,1,0,0
2,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,0,0,0,0
3,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,0,1,0
4,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,0,0,1,0

In [20]:
houses.isnull().sum()

location                   1
size                      16
society                 5502
total_sqft                 0
bath                      73
balcony                  609
price                      0
Carpet  Area               0
Plot  Area                 0
Super built-up  Area       0
days_till_available        0
dtype: int64

In [21]:
#Removing columns with large number of missing values
houses.drop(columns='society',inplace=True)

In [22]:
houses.head()

,location,size,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available
0,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,0,0,1,152
1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,0,1,0,0
2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,0,0,0,0
3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,0,0,1,0
4,Kothanur,2 BHK,1200,2.0,1.0,51.00,0,0,1,0

In [23]:
size_bhk = []
size_bed = []
for i in range(len(houses['size'])):
    item = houses['size'][i]
    if(isinstance(item,str)):
        temp = item.split(' ')
        if('BHK' in temp[1]):
            size_bhk.append(int(item[0]))
            size_bed.append(0)
        elif('Bedroom' in temp[1]):
            size_bhk.append(0)
            size_bed.append(int(item[0]))
        elif('RK' in temp[1]):
            size_bhk.append(0)
            size_bed.append(0)
    else:
        size_bhk.append(0)
        size_bed.append(0)

In [24]:
len(size_bhk)

13320

In [25]:
houses['BHK'] = pd.Series(size_bhk,index=houses.index)
houses['Bedroom'] = pd.Series(size_bed,index=houses.index)

In [26]:
houses.head()

,location,size,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available,BHK,Bedroom
0,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,0,0,1,152,2,0
1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,0,1,0,0,0,4
2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,0,0,0,0,3,0
3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,0,0,1,0,3,0
4,Kothanur,2 BHK,1200,2.0,1.0,51.00,0,0,1,0,2,0

In [27]:
houses.drop(columns='size',inplace=True)
#Dropping location column because highly correlated to area_type
houses.drop(columns='location',inplace=True)

In [28]:
houses.head()

,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available,BHK,Bedroom
0,1056,2.0,1.0,39.07,0,0,1,152,2,0
1,2600,5.0,3.0,120.00,0,1,0,0,0,4
2,1440,2.0,3.0,62.00,0,0,0,0,3,0
3,1521,3.0,1.0,95.00,0,0,1,0,3,0
4,1200,2.0,1.0,51.00,0,0,1,0,2,0

In [29]:
houses.isnull().sum()

total_sqft                0
bath                     73
balcony                 609
price                     0
Carpet  Area              0
Plot  Area                0
Super built-up  Area      0
days_till_available       0
BHK                       0
Bedroom                   0
dtype: int64

In [30]:
#filling missing values
houses['bath'].fillna(np.mean(houses['bath']),inplace=True)
houses['balcony'].fillna(np.mean(houses['balcony']),inplace=True)

In [31]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 10 columns):
total_sqft              13320 non-null object
bath                    13320 non-null float64
balcony                 13320 non-null float64
price                   13320 non-null float64
Carpet  Area            13320 non-null uint8
Plot  Area              13320 non-null uint8
Super built-up  Area    13320 non-null uint8
days_till_available     13320 non-null int64
BHK                     13320 non-null int64
Bedroom                 13320 non-null int64
dtypes: float64(3), int64(3), object(1), uint8(3)
memory usage: 767.5+ KB

In [32]:
total_sqft_new = []
for item in houses['total_sqft']:
    if('-' in str(item)):
        temp = item.split()
        temp1 = (float(temp[0]) + float(temp[2]))/2
        total_sqft_new.append(temp1)
    elif(item.endswith("Sq. Meter")):
        temp = float(item[:-9])
        total_sqft_new.append(temp * 10.7639)    
    elif(item.endswith("Perch")):
        temp = float(item[:-5])
        total_sqft_new.append(temp * 272.25)
    elif(item.endswith("Acres")):
        temp = float(item[:-5])
        total_sqft_new.append(temp * 43560)
    elif(item.endswith("Sq. Yards")):
        temp = float(item[:-9])
        total_sqft_new.append(temp * 9)
    elif(item.endswith("Cents")):
        temp = float(item[:-5])
        total_sqft_new.append(temp * 435.6)
    elif(item.endswith("Guntha")):
        temp = float(item[:-6])
        total_sqft_new.append(temp * 1089)
    elif(item.endswith("Grounds")):
        temp = float(item[:-7])
        total_sqft_new.append(temp * 2400)
    else:
        total_sqft_new.append(float(item))

In [33]:
houses['total_sqft_new'] = pd.Series(total_sqft_new, index=houses.index)
houses.drop(columns='total_sqft',inplace=True)

In [34]:
houses.head()

,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available,BHK,Bedroom,total_sqft_new
0,2.0,1.0,39.07,0,0,1,152,2,0,1056.0
1,5.0,3.0,120.00,0,1,0,0,0,4,2600.0
2,2.0,3.0,62.00,0,0,0,0,3,0,1440.0
3,3.0,1.0,95.00,0,0,1,0,3,0,1521.0
4,2.0,1.0,51.00,0,0,1,0,2,0,1200.0

In [35]:
houses_test = pd.read_csv('Predicting-House-Prices-In-Bengaluru-Test-Data.csv')

In [36]:
houses_test.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Brookefield,2 BHK,Roeekbl,1225,2.0,2.0,NaN
1,Plot Area,Ready To Move,Akshaya Nagar,9 Bedroom,NaN,2400,9.0,2.0,NaN
2,Plot Area,18-Apr,Hennur Road,4 Bedroom,Saandtt,1650,5.0,2.0,NaN
3,Super built-up Area,Ready To Move,Kodichikkanahalli,3 BHK,Winerri,1322,3.0,1.0,NaN
4,Super built-up Area,Ready To Move,Konanakunte,2 BHK,AmageSa,1161,2.0,1.0,NaN

In [37]:
houses_test.describe()

              bath      balcony  price
count  1473.000000  1411.000000    0.0
mean      2.753564     1.562013    NaN
std       1.365218     0.835949    NaN
min       1.000000     0.000000    NaN
25%       2.000000     1.000000    NaN
50%       2.000000     2.000000    NaN
75%       3.000000     2.000000    NaN
max      16.000000     3.000000    NaN

In [38]:
pd.unique(houses_test['area_type'])

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [39]:
houses_test['location'].nunique()

495

In [40]:
area_type_dummies = pd.get_dummies(houses_test['area_type'],drop_first=True)

In [41]:
houses_test = houses_test.join(area_type_dummies)

In [42]:
houses_test

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area
0,Super built-up Area,Ready To Move,Brookefield,2 BHK,Roeekbl,1225,2.0,2.0,NaN,0,0,1
1,Plot Area,Ready To Move,Akshaya Nagar,9 Bedroom,NaN,2400,9.0,2.0,NaN,0,1,0
2,Plot Area,18-Apr,Hennur Road,4 Bedroom,Saandtt,1650,5.0,2.0,NaN,0,1,0
3,Super built-up Area,Ready To Move,Kodichikkanahalli,3 BHK,Winerri,1322,3.0,1.0,NaN,0,0,1
4,Super built-up Area,Ready To Move,Konanakunte,2 BHK,AmageSa,1161,2.0,1.0,NaN,0,0,1
5,Plot Area,Ready To Move,5th Phase JP Nagar,4 Bedroom,NaN,760,3.0,1.0,NaN,0,1,0
6,Built-up Area,Ready To Move,Vijayanagar,4 Bedroom,NaN,4500,4.0,1.0,NaN,0,0,0
7,Built-up Area,Ready To Move,BEML Layout,2 BHK,G aceer,960,2.0,0.0,NaN,0,0,0
8,Super built-up Area,Ready To Move,Thanisandra,3 BHK,Soitya,1569,3.0,1.0,NaN,0,0,1
9,Built-up Area,Ready To Move,NRI Layout,3 BHK,NaN,2400,4.0,NaN,NaN,0,0,0
10,Super built-up Area,Ready To Move,Hennur Road,3 BHK,Maity W,1445,3.0,2.0,NaN,0,0,1
11,Plot Area,Ready To Move,Sarjapur,4 Bedroom,Maensar,1505,3.0,2.0,NaN,0,1,0
12,Super built-up Area,Ready To Move,Thigalarapalya,4 BHK,Prtanha,3122,6.0,2.0,NaN,0,0,1
13,Super built-up Area,Ready To Move,Hennur Road,2 BHK,Gaodsch,1096,2.0,1.0,NaN,0,0,1
14,Built-up Area,Ready To Move,Kanakapura,3 BHK,NaN,1450,3.0,1.0,NaN,0,0,0
15,Plot Area,Ready To Move,Narayanapura,9 Bedroom,NaN,2884,10.0,2.0,NaN,0,1,0
16,Super built-up Area,Ready To Move,Magadi Road,1 BHK,Vrenty,604,1.0,1.0,NaN,0,0,1
17,Super built-up Area,Ready To Move,Kogilu,2 BHK,NaN,1170,2.0,2.0,NaN,0,0,1
18,Super built-up Area,Ready To Move,BTM 2nd Stage,2 BHK,NaN,957,2.0,0.0,NaN,0,0,1
19,Plot Area,Ready To Move,Hebbal Kempapura,3 Bedroom,NaN,2900,4.0,3.0,NaN,0,1,0
20,Built-up Area,18-Dec,Electronic City,2 BHK,NaN,1160,2.0,1.0,NaN,0,0,0
21,Built-up Area,18-Jul,Hosa Road,3 BHK,Mahesr,1725,3.0,1.0,NaN,0,0,0
22,Plot Area,Ready To Move,Kengeri Satellite Town Stage 1,1 Bedroom,NaN,450,2.0,0.0,NaN,0,1,0
23,Super built-up Area,Ready To Move,Begur Road,3 BHK,Dhalsh,1500,2.0,3.0,NaN,0,0,1
24,Super built-up Area,Ready To Move,Harlur,3 BHK,SrEndPo,1824,3.0,2.0,NaN,0,0,1
25,Super built-up Area,Ready To Move,Rachenahalli,3 BHK,Leino C,2250,3.0,2.0,NaN,0,0,1
26,Built-up Area,Ready To Move,Ayappa Nagar,3 BHK,Kuave E,1698,3.0,1.0,NaN,0,0,0
27,Super built-up Area,18-Jul,Electronic City,3 BHK,NaN,1400,3.0,2.0,NaN,0,0,1
28,Built-up Area,Ready To Move,Whitefield,2 BHK,NaN,1200,2.0,1.0,NaN,0,0,0
29,Super built-up Area,Ready To Move,Dasarahalli,3 BHK,Sooneoo,1902.55,3.0,2.0,NaN,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1450,Super built-up Area,Ready To Move,Kaggadasapura,2 BHK,Haidea,1105,2.0,1.0,NaN,0,0,1
1451,Plot Area,Ready To Move,Hebbal,2 Bedroom,NaN,5149,2.0,0.0,NaN,0,1,0
1452,Super built-up Area,Ready To Move,Kaverappa Layout,2 BHK,NaN,1199,2.0,1.0,NaN,0,0,1
1453,Super built-up Area,Ready To Move,P&T Layout,3 BHK,NaN,1400,2.0,3.0,NaN,0,0,1
1454,Super built-up Area,18-May,Hosa Road,2 BHK,SStusan,1079,2.0,1.0,NaN,0,0,1
1455,Super built-up Area,18-Feb,8th Phase JP Nagar,3 BHK,NaN,1275,3.0,1.0,NaN,0,0,1
1456,Super built-up Area,Ready To Move,Haralur Road,2 BHK,NaN,1532,2.0,1.0,NaN,0,0,1
1457,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,SLnssPr,1245,2.0,2.0,NaN,0,0,1
1458,Built-up Area,Ready To Move,Kithaganur,8 Bedroom,NaN,3500,7.0,NaN,NaN,0,0,0
1459,Super built-up Area,Ready To Move,KUDLU MAIN ROAD,3 BHK,NaN,1464,3.0,3.0,NaN,0,0,1
1460,Super built-up Area,Ready To Move,8th Phase JP Nagar,3 BHK,MBodsen,1269,2.0,3.0,NaN,0,0,1
1461,Built-up Area,Ready To Move,Kaggadasapura,3 BHK,Shazai,1400,2.0,1.0,NaN,0,0,0
1462,Built-up Area,18-Dec,Electronic City,2 BHK,NaN,1160,2.0,1.0,NaN,0,0,0
1463,Super built-up Area,Ready To Move,Hoodi,2 BHK,NaN,1290,2.0,2.0,NaN,0,0,1
1464,Built-up Area,18-Dec,Electronic City,2 BHK,NaN,1160,2.0,1.0,NaN,0,0,0
1465,Super built-up Area,Ready To Move,Marathahalli,3 BHK,PuilaMi,1730,3.0,NaN,NaN,0,0,1
1466,Plot Area,Ready To Move,Basaveshwara Nagar,4 Bedroom,NaN,600,4.0,1.0,NaN,0,1,0
1467,Super built-up Area,Ready To Move,Kundalahalli,2 BHK,NaN,1588,2.0,NaN,NaN,0,0,1
1468,Super built-up Area,Ready To Move,Kundalahalli,2 BHK,Dieldli,1047,2.0,1.0,NaN,0,0,1
1469,Plot Area,Ready To Move,Akshayanagara West,8 Bedroom,NaN,1200,5.0,2.0,NaN,0,1,0
1470,Super built-up Area,Ready To Move,Whitefield,2 BHK,Udayaur,1100,2.0,2.0,NaN,0,0,1
1471,Super built-up Area,Ready To Move,Kalena Agrahara,3 BHK,KlarkBe,1731,3.0,NaN,NaN,0,0,1
1472,Plot Area,18-Aug,Vishweswaraiah Layout 4th Block,1 Bedroom,NaN,1200,1.0,1.0,NaN,0,1,0
1473,Plot Area,Ready To Move,RMV 2nd Stage,4 Bedroom,NaN,6750,8.0,NaN,NaN,0,1,0
1474,Super built-up Area,Ready To Move,Byadarahalli,4 BHK,Brent C,4250,4.0,2.0,NaN,0,0,1
1475,Super built-up Area,Ready To Move,Vittasandra,2 BHK,Prlla C,1246,2.0,1.0,NaN,0,0,1
1476,Super built-up Area,Ready To Move,Gottigere,3 BHK,NaN,1660,3.0,2.0,NaN,0,0,1
1477,Super built-up Area,Ready To Move,Channasandra,2 BHK,Unm 2El,1216,2.0,2.0,NaN,0,0,1
1478,Built-up Area,18-Feb,Tumkur Road,2 BHK,Sahtsva,996,2.0,1.0,NaN,0,0,0
1479,Built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,MaicaRS,1150,2.0,2.0,NaN,0,0,0

In [43]:
houses_test.drop(columns='area_type',inplace=True)

In [44]:
houses_test.head()

,availability,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area
0,Ready To Move,Brookefield,2 BHK,Roeekbl,1225,2.0,2.0,NaN,0,0,1
1,Ready To Move,Akshaya Nagar,9 Bedroom,NaN,2400,9.0,2.0,NaN,0,1,0
2,18-Apr,Hennur Road,4 Bedroom,Saandtt,1650,5.0,2.0,NaN,0,1,0
3,Ready To Move,Kodichikkanahalli,3 BHK,Winerri,1322,3.0,1.0,NaN,0,0,1
4,Ready To Move,Konanakunte,2 BHK,AmageSa,1161,2.0,1.0,NaN,0,0,1

In [45]:
#Reading the date from availability
availability_date = []
for item in houses_test['availability']:
    if(item[0].isdigit()):
        item = str(datetime.today().date().year) + '-' + item
        availability_date.append((datetime.strptime(item , '%Y-%d-%b')).date())
    else:
        availability_date.append(0)

In [46]:
#Getting number of days from today till availability
days_till_available = []
for item in availability_date:
    if(item != 0):
        n_days = item - datetime.today().date()
        if(n_days.days > 0):
            days_till_available.append(n_days.days)
        else:
            days_till_available.append(n_days.days + 365)
    else:
        days_till_available.append(0)

In [47]:
houses_test['days_till_available'] = pd.Series(days_till_available , index=houses_test.index)

In [48]:
houses_test.head()

,availability,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available
0,Ready To Move,Brookefield,2 BHK,Roeekbl,1225,2.0,2.0,NaN,0,0,1,0
1,Ready To Move,Akshaya Nagar,9 Bedroom,NaN,2400,9.0,2.0,NaN,0,1,0,0
2,18-Apr,Hennur Road,4 Bedroom,Saandtt,1650,5.0,2.0,NaN,0,1,0,272
3,Ready To Move,Kodichikkanahalli,3 BHK,Winerri,1322,3.0,1.0,NaN,0,0,1,0
4,Ready To Move,Konanakunte,2 BHK,AmageSa,1161,2.0,1.0,NaN,0,0,1,0

In [49]:
houses_test.drop(columns='availability',inplace=True)

In [50]:
houses_test.head()

,location,size,society,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available
0,Brookefield,2 BHK,Roeekbl,1225,2.0,2.0,NaN,0,0,1,0
1,Akshaya Nagar,9 Bedroom,NaN,2400,9.0,2.0,NaN,0,1,0,0
2,Hennur Road,4 Bedroom,Saandtt,1650,5.0,2.0,NaN,0,1,0,272
3,Kodichikkanahalli,3 BHK,Winerri,1322,3.0,1.0,NaN,0,0,1,0
4,Konanakunte,2 BHK,AmageSa,1161,2.0,1.0,NaN,0,0,1,0

In [51]:
houses_test.isnull().sum()

location                   0
size                       2
society                  626
total_sqft                 0
bath                       7
balcony                   69
price                   1480
Carpet  Area               0
Plot  Area                 0
Super built-up  Area       0
days_till_available        0
dtype: int64

In [52]:
#Removing columns with large number of missing values
houses_test.drop(columns='society',inplace=True)

In [53]:
houses_test.head()

,location,size,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available
0,Brookefield,2 BHK,1225,2.0,2.0,NaN,0,0,1,0
1,Akshaya Nagar,9 Bedroom,2400,9.0,2.0,NaN,0,1,0,0
2,Hennur Road,4 Bedroom,1650,5.0,2.0,NaN,0,1,0,272
3,Kodichikkanahalli,3 BHK,1322,3.0,1.0,NaN,0,0,1,0
4,Konanakunte,2 BHK,1161,2.0,1.0,NaN,0,0,1,0

In [54]:
size_bhk = []
size_bed = []
for i in range(len(houses_test['size'])):
    item = houses_test['size'][i]
    if(isinstance(item,str)):
        temp = item.split(' ')
        if('BHK' in temp[1]):
            size_bhk.append(int(item[0]))
            size_bed.append(0)
        elif('Bedroom' in temp[1]):
            size_bhk.append(0)
            size_bed.append(int(item[0]))
        elif('RK' in temp[1]):
            size_bhk.append(0)
            size_bed.append(0)
    else:
        size_bhk.append(0)
        size_bed.append(0)

In [55]:
len(size_bhk)

1480

In [56]:
houses_test['BHK'] = pd.Series(size_bhk,index=houses_test.index)
houses_test['Bedroom'] = pd.Series(size_bed,index=houses_test.index)

In [57]:
houses_test.head()

,location,size,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available,BHK,Bedroom
0,Brookefield,2 BHK,1225,2.0,2.0,NaN,0,0,1,0,2,0
1,Akshaya Nagar,9 Bedroom,2400,9.0,2.0,NaN,0,1,0,0,0,9
2,Hennur Road,4 Bedroom,1650,5.0,2.0,NaN,0,1,0,272,0,4
3,Kodichikkanahalli,3 BHK,1322,3.0,1.0,NaN,0,0,1,0,3,0
4,Konanakunte,2 BHK,1161,2.0,1.0,NaN,0,0,1,0,2,0

In [58]:
houses_test.drop(columns='size',inplace=True)
#Dropping location column because highly correlated to area_type
houses_test.drop(columns='location',inplace=True)

In [59]:
houses_test.head()

,total_sqft,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available,BHK,Bedroom
0,1225,2.0,2.0,NaN,0,0,1,0,2,0
1,2400,9.0,2.0,NaN,0,1,0,0,0,9
2,1650,5.0,2.0,NaN,0,1,0,272,0,4
3,1322,3.0,1.0,NaN,0,0,1,0,3,0
4,1161,2.0,1.0,NaN,0,0,1,0,2,0

In [60]:
houses_test.isnull().sum()

total_sqft                 0
bath                       7
balcony                   69
price                   1480
Carpet  Area               0
Plot  Area                 0
Super built-up  Area       0
days_till_available        0
BHK                        0
Bedroom                    0
dtype: int64

In [61]:
#filling missing values
houses_test['bath'].fillna(np.mean(houses_test['bath']),inplace=True)
houses_test['balcony'].fillna(np.mean(houses_test['balcony']),inplace=True)

In [62]:
houses_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 10 columns):
total_sqft              1480 non-null object
bath                    1480 non-null float64
balcony                 1480 non-null float64
price                   0 non-null float64
Carpet  Area            1480 non-null uint8
Plot  Area              1480 non-null uint8
Super built-up  Area    1480 non-null uint8
days_till_available     1480 non-null int64
BHK                     1480 non-null int64
Bedroom                 1480 non-null int64
dtypes: float64(3), int64(3), object(1), uint8(3)
memory usage: 85.4+ KB

In [63]:
total_sqft_new = []
for item in houses_test['total_sqft']:
    if('-' in str(item)):
        temp = item.split()
        temp1 = (float(temp[0]) + float(temp[2]))/2
        total_sqft_new.append(temp1)
    elif(item.endswith("Sq. Meter")):
        temp = float(item[:-9])
        total_sqft_new.append(temp * 10.7639)    
    elif(item.endswith("Perch")):
        temp = float(item[:-5])
        total_sqft_new.append(temp * 272.25)
    elif(item.endswith("Acres")):
        temp = float(item[:-5])
        total_sqft_new.append(temp * 43560)
    elif(item.endswith("Sq. Yards")):
        temp = float(item[:-9])
        total_sqft_new.append(temp * 9)
    elif(item.endswith("Cents")):
        temp = float(item[:-5])
        total_sqft_new.append(temp * 435.6)
    elif(item.endswith("Guntha")):
        temp = float(item[:-6])
        total_sqft_new.append(temp * 1089)
    elif(item.endswith("Grounds")):
        temp = float(item[:-7])
        total_sqft_new.append(temp * 2400)
    else:
        total_sqft_new.append(float(item))

In [64]:
houses_test['total_sqft_new'] = pd.Series(total_sqft_new, index=houses_test.index)
houses_test.drop(columns='total_sqft',inplace=True)

In [65]:
houses_test.head()

,bath,balcony,price,Carpet Area,Plot Area,Super built-up Area,days_till_available,BHK,Bedroom,total_sqft_new
0,2.0,2.0,NaN,0,0,1,0,2,0,1225.0
1,9.0,2.0,NaN,0,1,0,0,0,9,2400.0
2,5.0,2.0,NaN,0,1,0,272,0,4,1650.0
3,3.0,1.0,NaN,0,0,1,0,3,0,1322.0
4,2.0,1.0,NaN,0,0,1,0,2,0,1161.0

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X = houses.drop(columns='price')
y = houses['price']

In [68]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1)

In [69]:
from sklearn.svm import SVR

In [70]:
model = SVR()

In [71]:
model.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [72]:
prediction = model.predict(X_test)

In [73]:
prediction[0]

61.89996345091182

In [74]:
model.score(X_test,y_test)

-0.0302738219333194

In [75]:
from sklearn.grid_search import GridSearchCV

C:\Users\Arjun\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Arjun\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [76]:
param_grid = {'C':[0.1,1,10,100,1000],'gamma':[1,0.1,0.01,0.001,0.0001]}

In [77]:
grid = GridSearchCV(SVR(),param_grid,verbose=3)

In [78]:
grid.fit(X_train,y_train)

Fitting 3 folds for each of 25 candidates, totalling 75 fits
[CV] C=0.1, gamma=1 ..................................................
[CV] ........................ C=0.1, gamma=1, score=-0.075117 -   8.3s
[CV] C=0.1, gamma=1 ..................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.3s remaining:    0.0s

[CV] ........................ C=0.1, gamma=1, score=-0.080732 -   8.3s
[CV] C=0.1, gamma=1 ..................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   16.8s remaining:    0.0s

[CV] ........................ C=0.1, gamma=1, score=-0.065315 -   8.4s
[CV] C=0.1, gamma=0.1 ................................................
[CV] ...................... C=0.1, gamma=0.1, score=-0.068757 -   9.1s
[CV] C=0.1, gamma=0.1 ................................................
[CV] ...................... C=0.1, gamma=0.1, score=-0.074098 -   9.8s
[CV] C=0.1, gamma=0.1 ................................................
[CV] ...................... C=0.1, gamma=0.1, score=-0.060435 -   8.7s
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ..................... C=0.1, gamma=0.01, score=-0.059721 -   7.8s
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ..................... C=0.1, gamma=0.01, score=-0.065545 -   8.7s
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ..................... C=0.1, gamma=0.01, score=-0.054384 -   8.4s
[CV] C=0.1, gamma=0.001 ..............................................
[CV] .................... C=0.1, gamma=0.001, score=-0.043402 -   7.7s
[CV] C=0.1, gamma=0.001 ..............................................
[CV] .................... C=0.1, gamma=0.001, score=-0.048206 -   7.1s
[CV] C=0.1, gamma=0.001 ..............................................
[CV] .................... C=0.1, gamma=0.001, score=-0.042694 -   7.0s
[CV] C=0.1, gamma=0.0001 .............................................
[CV] ................... C=0.1, gamma=0.0001, score=-0.009709 -   5.5s
[CV] C=0.1, gamma=0.0001 .............................................
[CV] ................... C=0.1, gamma=0.0001, score=-0.011759 -   5.6s
[CV] C=0.1, gamma=0.0001 .............................................
[CV] ................... C=0.1, gamma=0.0001, score=-0.018055 -   5.6s
[CV] C=1, gamma=1 ....................................................
[CV] .......................... C=1, gamma=1, score=-0.058091 -   8.7s
[CV] C=1, gamma=1 ....................................................
[CV] .......................... C=1, gamma=1, score=-0.062016 -   9.7s
[CV] C=1, gamma=1 ....................................................
[CV] .......................... C=1, gamma=1, score=-0.052793 -   8.8s
[CV] C=1, gamma=0.1 ..................................................
[CV] ........................ C=1, gamma=0.1, score=-0.024877 -   7.6s
[CV] C=1, gamma=0.1 ..................................................
[CV] ........................ C=1, gamma=0.1, score=-0.026290 -   7.8s
[CV] C=1, gamma=0.1 ..................................................
[CV] ........................ C=1, gamma=0.1, score=-0.027850 -   7.6s
[CV] C=1, gamma=0.01 .................................................
[CV] ........................ C=1, gamma=0.01, score=0.012057 -   7.7s
[CV] C=1, gamma=0.01 .................................................
[CV] ........................ C=1, gamma=0.01, score=0.009810 -   7.5s
[CV] C=1, gamma=0.01 .................................................
[CV] ....................... C=1, gamma=0.01, score=-0.002659 -   7.7s
[CV] C=1, gamma=0.001 ................................................
[CV] ....................... C=1, gamma=0.001, score=0.051820 -   6.6s
[CV] C=1, gamma=0.001 ................................................
[CV] ....................... C=1, gamma=0.001, score=0.050682 -   6.7s
[CV] C=1, gamma=0.001 ................................................
[CV] ....................... C=1, gamma=0.001, score=0.026856 -   6.8s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ...................... C=1, gamma=0.0001, score=0.137831 -   5.5s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ...................... C=1, gamma=0.0001, score=0.136509 -   5.4s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ...................... C=1, gamma=0.0001, score=0.090140 -   5.3s
[CV] C=10, gamma=1 ...................................................
[CV] .......................... C=10, gamma=1, score=0.004723 -   7.8s
[CV] C=10, gamma=1 ...................................................
[CV] .......................... C=10, gamma=1, score=0.003965 -   8.1s
[CV] C=10, gamma=1 ...................................................
[CV] ......................... C=10, gamma=1, score=-0.006616 -   7.9s
[CV] C=10, gamma=0.1 .................................................
[CV] ........................ C=10, gamma=0.1, score=0.089283 -   8.8s
[CV] C=10, gamma=0.1 .................................................
[CV] ........................ C=10, gamma=0.1, score=0.083322 -   8.1s
[CV] C=10, gamma=0.1 .................................................
[CV] ........................ C=10, gamma=0.1, score=0.052826 -   8.5s
[CV] C=10, gamma=0.01 ................................................
[CV] ....................... C=10, gamma=0.01, score=0.150374 -   8.0s
[CV] C=10, gamma=0.01 ................................................
[CV] ....................... C=10, gamma=0.01, score=0.149578 -   8.1s
[CV] C=10, gamma=0.01 ................................................
[CV] ....................... C=10, gamma=0.01, score=0.099142 -   7.9s
[CV] C=10, gamma=0.001 ...............................................
[CV] ...................... C=10, gamma=0.001, score=0.218140 -   8.7s
[CV] C=10, gamma=0.001 ...............................................
[CV] ...................... C=10, gamma=0.001, score=0.206986 -   7.7s
[CV] C=10, gamma=0.001 ...............................................
[CV] ...................... C=10, gamma=0.001, score=0.144827 -   7.7s
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..................... C=10, gamma=0.0001, score=0.297586 -   5.8s
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..................... C=10, gamma=0.0001, score=0.291329 -   6.0s
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..................... C=10, gamma=0.0001, score=0.208054 -   5.6s
[CV] C=100, gamma=1 ..................................................
[CV] ......................... C=100, gamma=1, score=0.134973 -  10.6s
[CV] C=100, gamma=1 ..................................................
[CV] ......................... C=100, gamma=1, score=0.128978 -  10.4s
[CV] C=100, gamma=1 ..................................................
[CV] ......................... C=100, gamma=1, score=0.092725 -  11.1s
[CV] C=100, gamma=0.1 ................................................
[CV] ....................... C=100, gamma=0.1, score=0.230685 -  12.4s
[CV] C=100, gamma=0.1 ................................................
[CV] ....................... C=100, gamma=0.1, score=0.235226 -  11.9s
[CV] C=100, gamma=0.1 ................................................
[CV] ....................... C=100, gamma=0.1, score=0.160924 -  10.9s
[CV] C=100, gamma=0.01 ...............................................
[CV] ...................... C=100, gamma=0.01, score=0.285849 -  11.3s
[CV] C=100, gamma=0.01 ...............................................
[CV] ...................... C=100, gamma=0.01, score=0.296396 -  10.8s
[CV] C=100, gamma=0.01 ...............................................
[CV] ...................... C=100, gamma=0.01, score=0.209617 -  10.5s
[CV] C=100, gamma=0.001 ..............................................
[CV] ..................... C=100, gamma=0.001, score=0.343121 -   9.0s
[CV] C=100, gamma=0.001 ..............................................
[CV] ..................... C=100, gamma=0.001, score=0.353816 -   9.0s
[CV] C=100, gamma=0.001 ..............................................
[CV] ..................... C=100, gamma=0.001, score=0.249405 -   8.3s
[CV] C=100, gamma=0.0001 .............................................
[CV] .................... C=100, gamma=0.0001, score=0.397415 -   7.0s
[CV] C=100, gamma=0.0001 .............................................
[CV] .................... C=100, gamma=0.0001, score=0.400227 -   6.1s
[CV] C=100, gamma=0.0001 .............................................
[CV] .................... C=100, gamma=0.0001, score=0.291539 -   6.1s
[CV] C=1000, gamma=1 .................................................

[CV] ........................ C=1000, gamma=1, score=0.197296 -  11.5s
[CV] C=1000, gamma=1 .................................................
[CV] ........................ C=1000, gamma=1, score=0.181771 -  11.2s
[CV] C=1000, gamma=1 .................................................
[CV] ........................ C=1000, gamma=1, score=0.134582 -  11.0s
[CV] C=1000, gamma=0.1 ...............................................
[CV] ...................... C=1000, gamma=0.1, score=0.308309 -  27.7s
[CV] C=1000, gamma=0.1 ...............................................
[CV] ...................... C=1000, gamma=0.1, score=0.307031 -  25.0s
[CV] C=1000, gamma=0.1 ...............................................
[CV] ...................... C=1000, gamma=0.1, score=0.197683 -  25.9s
[CV] C=1000, gamma=0.01 ..............................................
[CV] ..................... C=1000, gamma=0.01, score=0.354450 -  20.1s
[CV] C=1000, gamma=0.01 ..............................................
[CV] ..................... C=1000, gamma=0.01, score=0.319851 -  22.6s
[CV] C=1000, gamma=0.01 ..............................................
[CV] ..................... C=1000, gamma=0.01, score=0.266683 -  21.1s
[CV] C=1000, gamma=0.001 .............................................
[CV] .................... C=1000, gamma=0.001, score=0.420744 -  17.7s
[CV] C=1000, gamma=0.001 .............................................
[CV] .................... C=1000, gamma=0.001, score=0.362746 -  16.0s
[CV] C=1000, gamma=0.001 .............................................
[CV] .................... C=1000, gamma=0.001, score=0.307811 -  17.4s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................... C=1000, gamma=0.0001, score=0.452709 -  10.4s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................... C=1000, gamma=0.0001, score=0.408646 -  10.1s
[CV] C=1000, gamma=0.0001 ............................................
[CV] ................... C=1000, gamma=0.0001, score=0.379295 -  10.1s

[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed: 12.5min finished

GridSearchCV(cv=None, error_score='raise',
       estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'C': [0.1, 1, 10, 100, 1000], 'gamma': [1, 0.1, 0.01, 0.001, 0.0001]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=3)

In [79]:
grid.best_params_

{'C': 1000, 'gamma': 0.0001}

In [80]:
grid.score(X_test,y_test)

0.695954443185541

In [81]:
houses_test.drop(columns='price',inplace=True)

In [82]:
houses_test.head()

,bath,balcony,Carpet Area,Plot Area,Super built-up Area,days_till_available,BHK,Bedroom,total_sqft_new
0,2.0,2.0,0,0,1,0,2,0,1225.0
1,9.0,2.0,0,1,0,0,0,9,2400.0
2,5.0,2.0,0,1,0,272,0,4,1650.0
3,3.0,1.0,0,0,1,0,3,0,1322.0
4,2.0,1.0,0,0,1,0,2,0,1161.0

In [83]:
prediction = grid.predict(houses_test)

In [84]:
house_submission = pd.DataFrame()
house_submission['price'] = prediction

In [85]:
from pandas import ExcelWriter

In [86]:
writer = ExcelWriter('Submission.xlsx')

In [87]:
house_submission.to_excel(writer,index=False)

In [88]:
writer.save()